{% extends "base.html"%}

{% block title %}
Edit Profile
{% endblock%}

{% block content %}
    {% block form %}

            <h1 class="text-center">Edit Profile</h1>
            <form enctype="multipart/form-data" class="container container-central" method ="post">
              {% csrf_token %}
              {% if errors %}
                <li>{{ errors }}</li>
              {% endif %}

              {{user_form.as_p}}

              {% block buttons %}
              {% endblock%}
              <input type="submit" value="Submit">
            </form>



    {% endblock %}
{% endblock%}