{% extends "base.html" %}

{% block title %}
Profile
{% endblock%}

{% block js_block %}
        {% load static %}
        <script src="{% static 'js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/view_profile.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}

    <div class="row">

      <div class="col-sm-4 col-md-4 col-lg-4">

        {% if view_self %}
          <a href="{% url 'edit_profile' %}"
             class="btn btn-default btn-block"
             role="button">
            Edit My Profile
          </a>
          <a href="{% url 'change_password' %}"
             class="btn btn-default btn-block"
             role="button">
            Change My Password
          </a>
          <a href="{% url 'reset_password' %}"
             class="btn btn-default btn-block"
             role="button">
            Reset Password
          </a>


        {% else %}
          {% if followed %}
            <a href="{% url 'unfollow' user.username %}"
             class="btn btn-default btn-block"
             role="button">
            Unfollow
            </a>
          {% else %}
          <a href="{% url 'follow' user.username %}"
             class="btn btn-default btn-block"
             role="button">
            Follow
          </a>
          {% endif %}
        {% endif %}

        {% load static %}
        {% if user.userprofile.img %}
        <img src="{{user.userprofile.img.url}}" class="img-thumbnail">
        {% else %}
        <img src="{% static 'images/default.jpg' %}" class="img-thumbnail">
        {% endif %}
        <p>User Name : {{user.username}}</p>
        <p>First Name : {{user.first_name}}</p>
        <p>Last Name : {{user.last_name}}</p>
        <p>Age : {{user.userprofile.age}}</p>
        <p>Bio : {{user.userprofile.bio}}</p>
      <input type="hidden" id="view_user_name" value="{{ user.username }}">


      </div>

      <div class="col-sm-8 col-md-8 col-lg-8">
        <h1>All Posts !</h1>
        <input type="hidden" id="timestamp" value="{{timestamp}}">
        <div id='post-list'></div>

      </div>

    </div>
{% endblock %}